<launch>
    <param name="nav_to_mine" type="int" value="1" />
    <param name="mine" type="int" value="1" />
    <node pkg="actionlib_tutorials" name="test" type="test.py" output="screen"> 
    </node>
    <node pkg="actionlib_tutorials" name="test2" type="test2.py" output="screen"> </node>
</launch>
